Repository Gabb-c/next-ts-setup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext js,ts,tsx --fix --ignore-path .prettierignore, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write, yarn stylelint src/**/*.{scss,css} --fix

chore(deps-dev): update jest and babel-jest
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps): update jest and eslint deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(ci): add node 17.x to build workflow
  .github/workflows/build.yml
Due: none

chore(deps): update swr
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps): update next
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix: replace enzyme with testing-library
  README.md
  jest.config.js
  jest.setup.js
  package.json
  src/__tests__/render.spec.tsx
  yarn.lock
Due: eslint src --ext js,ts,tsx --fix --ignore-path .prettierignore, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write

chore: update .nvmrc version
  .nvmrc
Due: none

chore(dev-deps): update typescript and eslint
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(dev-deps): update eslint deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore: remove unused folder
  examples/images/eslint-format.png
  examples/images/eslint-save.png
  examples/workflows/chromatic.yml
Due: none

chore(dev-deps): update stylelint
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(dev-deps): update dev dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update eslint and commmitlint
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update deps
  next-env.d.ts
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps): update sass
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update eslint
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps): update next dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps): update dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update dev dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix(build): typo
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
Due: eslint src --ext js,ts,tsx --fix --ignore-path .prettierignore, prettier 'src/**/*.[jt]s?(x)' --write, git add .

chore(deps-dev): update eslint deps and sass
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update typescript
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

Path conditions:
  eslint src --ext js,ts,tsx --fix --ignore-path .prettierignore: any of: src/**/*.{js,ts,tsx}
  prettier 'src/**/*.[jt]s?(x)' --write: any of: src/**/*.{js,ts,tsx}
  git add .: ((any of: src/**/*.{js,ts,tsx}) or (any of: **/*.{md,mdx,json})) or (any of: src/**/*.{scss,css})
  prettier '**/*.{md,mdx,json}' --write: any of: **/*.{md,mdx,json}
  yarn stylelint src/**/*.{scss,css} --fix: any of: src/**/*.{scss,css}
