Repository Gabb-c/next-ts-setup: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext js,ts,tsx --fix --ignore-path .prettierignore, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx}": [
    "eslint src --ext js,ts,tsx --fix --ignore-path .prettierignore",
    "prettier 'src/**/*.[jt]s?(x)' --write",
    "git add ."
  ],
  "**/*.{md,mdx,json}": ["prettier '**/*.{md,mdx,json}' --write", "git add ."]
}

chore(deps): update eslint and sass
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update eslint-plugin-jest
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update depes
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(config): update next config file
  next.config.js
Due: none

chore(deps): update deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore: update deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update jest and eslint deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore: update storybook adons
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore: update dev deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update eslint and node typings
  .nvmrc
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update storybook adons
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

build: update depes
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix(ci): build workflow
  .github/workflows/build.yml
  .gitignore
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(dev-deps): update deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(dev-deps): update node typings
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(prod-deps): update dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix(pages): fix main page
  .yarnclean
  babel.config.js
  public/favicon.ico
  public/vercel.svg
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/styles/Home.module.css
  src/styles/global.ts
  src/styles/globals.css
  src/styles/pages/home.ts
  src/styles/styled.d.ts
  src/styles/theme.ts
  yarn.lock
Due: eslint src --ext js,ts,tsx --fix --ignore-path .prettierignore, prettier 'src/**/*.[jt]s?(x)' --write, git add .

fix: fix next scrips #387
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix(tests): jest import error
  .babelrc
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix(pages): better landing page
  .babelrc
  .nvmrc
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/components/Header/header.module.scss
  src/components/Header/header.stories.tsx
  src/components/Header/index.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/styles/Home.module.css
  src/styles/globals.css
  yarn.lock
Due: eslint src --ext js,ts,tsx --fix --ignore-path .prettierignore, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write

fix(tests): jest configuration
  jest.config.js
Due: none

fix(styles): css modules to scss
  .editorconfig
  src/pages/_app.tsx
  src/pages/index.tsx
  src/styles/Home.module.scss
  src/styles/globals.scss
Due: eslint src --ext js,ts,tsx --fix --ignore-path .prettierignore, prettier 'src/**/*.[jt]s?(x)' --write, git add .

chore: update css-loader and eslint unicorn
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore: update eslint deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix(ci): remove lint commit action
  .github/workflows/lint.yml
Due: none

feat: add stylelint
  .lintstagedrc.json
  .prettierignore
  .stylelintrc.json
  .vscode/extensions.json
  package.json
  src/styles/Home.module.scss
  src/styles/globals.scss
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix(pages): add api folder example
  src/pages/api/hello.ts
Due: eslint src --ext js,ts,tsx --fix --ignore-path .prettierignore, prettier 'src/**/*.[jt]s?(x)' --write, git add .

feat(pages): add middleware example
  src/pages/_app.tsx
  src/pages/_middleware.ts
  src/styles/Home.module.scss
Due: eslint src --ext js,ts,tsx --fix --ignore-path .prettierignore, prettier 'src/**/*.[jt]s?(x)' --write, git add .

fix(ci): remove commit formating from CI
  .github/workflows/lint.yml
  .lintstagedrc.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update eslint dependencies
  package.json
  src/pages/_document.tsx
  yarn.lock
Due: eslint src --ext js,ts,tsx --fix --ignore-path .prettierignore, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update eslint dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore: update nvmrc node version to lts
  .nvmrc
Due: none

chore: update dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update dev dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

feat: update readme
  README.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps): updade dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps): update sass
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update prettier and next images
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write
